services:
  backend:
    build:
      dockerfile: Dockerfile
    ports:
     - 8080:8080
    environment:
      BACKEND_PORT: "8080"
    depends_on:
     - redis
  frontend:
    build:
      dockerfile: web.Dockerfile
    ports:
      - 3000:80
    depends_on:
      - backend
  redis:
    image: redis
